.chat-input-container{  
  position:sticky; 
  margin-left:1.3rem; 
  bottom:10px;
  right:10px;
  display: grid;
  grid-template-columns: 10% 90%;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 0 2rem;
  padding-bottom: 0.3rem;
  .button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    .emoji{
      position: relative;
      svg{
        font-size: 1.5rem;
        color:rgb(175, 175, 17);
        cursor: pointer;
      }
      .EmojiPickerReact{
        position: absolute;
        top:-470px;        
        background-color: #080420;
        box-shadow: 0 5px 10px #9a86f3;
        border-color: #9a86f3;
        
        li.epr-emoji-category{
          justify-content: center;
          grid-template-columns: repeat(auto);
        }
        .epr-tone-neutral{
          display: none;
          visibility: hidden;
        }
        .epr-emoji-categories{
          button{
            filter:contrast(0)
          }
        }
        .epr-search, .epr-emoji-category-label{
          background-color: #080420;
        }
        .epr-emoji-category-content{
          margin:0;
          padding:0;        
          gap:0;
          button{
            margin:0;
          }
        }
        .epr-category-nav{
          display:none;
          button{
            margin:0;
          }
          .epr-body::-webkit-scrollbar {
            background-color: #080420;
            width: 5px;
            &-thumb{
              background-color: #9186f3;
            }
          }
        }
      }
    }
  }
  .input-container{    
    width: 100%;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-items: center;
    gap:2rem;
    background-color: #ffffff34;
    input{
      width: 90%;
      background-color: transparent;
      color:white;
      border:none;
      padding-left:1rem;
      font-size: 1.2rem;
      &::selection{
        background-color: #9186f3;
      }
      &:focus{
        outline: none;
      }
    }
    button{
      padding: 0.3rem 2rem;
      border-radius:2rem;
      margin-top: 0;
      display: flex;
      justify-self: center;
      align-self: center;
      background-color: #9a86f3;
      border: none;
      svg{
        font-size: 2rem;
        color:white;
      };
    }
  }

}