.chat-container{
  min-height: 100vh;
  min-width: 100vw;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1rem;
  background-color: #131324;
    .container{
      overflow:auto;
      height: 85vh;
      width: 85vw;
      background-color:#00000076;
      display: grid;
      grid-template-columns: 25% 75%;
      overflow:auto;
      &::-webkit-scrollbar{
        width: 0.5rem;
        &-thumb {
          background-color: #303059;      
          border-radius: 1rem;
        }}
      @media screen and (min-width:720px) and (max-width:1080px){
        grid-template-columns: 35% 65%;
      }
    }
}