.brand{
  position: sticky;
  top:0;
  z-index: 1;
  
}
p{
  color:white;
}
.friends{
  min-width: fit-content;
  overflow: auto;
  background-color: rgb(21, 24, 60);
  min-height:100%;
  &::-webkit-scrollbar{
    width: 0.5rem;
    &-thumb {
      background-color: #303059;      
      border-radius: 1rem;
    }
  }
  .brand{
    width: 100%;
    img{
      width:100%
    }
  }
  .selected{
   border:2px solid rgb(137, 123, 216);   
  }
  .card-container{
    display: flex;
    min-width: fit-content;
    background-color: #131324;
    align-items: center;
    border-radius: 0.8rem;
    padding:0.5rem;
    gap: 1.5rem;
    margin:20px;
    transition: 0.5s ease-in-out;
     img{
      margin:0;
      padding:0;
      width: 60px;
     }
     p{
      font-size: 1.5rem;
     }
  }
  @media screen and (max-width: 850px){
    .card-container{
      img{
        width: 50px;
      }
      p{
        font-size: 1rem;
      }
    }
  }
  .user-details{
    position: sticky;
    bottom:0;
    z-index: 2;
    background-color: rgb(21, 24, 60);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 1rem ;
    color:white;
    .user{
      width: 75px;
      display: flex;
      align-items: center;
      gap:1rem;
    }
    .logout{
      display:flex;
      padding: 0 2rem;
      align-items: center;
      justify-content: center;
      .logout-btn{
        display:flex;
        padding: 0 2rem;
        align-items: center;
        justify-content: center;
        margin-bottom: 70px;
      }
      .log-off-container{
        position:absolute; 
        z-index: 3;
        padding:1rem;
        top:150px;
        left:70px;
        box-shadow: 0 0 5000px 5000px rgb(0 0 0 /0.6);
        .delete-btn{
          background-color: red;
        }

      }
    }
  }
}