@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

body{
  height: 100%;
  width: 100%;
  font-family: 'Permanent Marker', cursive;
}