.search{
  color:white;
  align-self: start;
  display: flex;
  flex-direction: column;
  margin:0 auto;
  font-size: 1.3rem;
  input{
    background-color: transparent;
    color: white;
    padding: 5px;
    border-radius: 8px;
    font-size: 1.25rem;
  }
  .btn{
    margin: 20px;
    width: 50%;
    align-self:center;
    padding:10px 15px
  }    
  .att{
    font-size: smaller;
  }
  .found-container{
    border: 1px solid rgb(48,48,89);
    padding:2rem;
    border-radius: 8px;
    box-shadow: 6px 6px 10px 1px rgb(48,48,89 / 0.6);
    margin:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1rem;
      .picture{
        width: 100px;
      }
      p{
        text-align: center;
        font-size: 2rem;
      }
      .found-btn-container{
        display: flex;
        gap:2rem;
        .btn{
          margin: 0;
          width: 150px;                  
        }     
      }
  }
  @media screen and (max-width: 850px){
    .search{
      display: flex;
      flex-direction: row;
    }
  }
}